*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.container{
    width: 100%;
    margin: 0 auto;
}
header{
    width:100%;
    height: 150px;
    margin-top: 10px;
    background-color: brown;
    display: flex;
    align-items: center;
}
header img{
    width:170px;
    height: auto;
    border-radius: 75px;
    margin-left: 10px;
}
header ul.list {
    padding-left: 15px;
    display: flex;
   list-style: none;
   justify-content: space-between;
}
header ul.list li{
    padding:0 10px;
    color: aqua;
}
header ul.list li:hover{
    
    color:chartreuse;
}



